:root { 
--gray_52:#f8fbff; 
--gray_51:#f6f8fc; 
--gray_54:#f4f7ff; 
--indigo_900_b0:#1b3764b0; 
--gray_53:#f9fbff; 
--gray_56:#f5f7fb; 
--gray_55:#f4f8ff; 
--gray_57:#f8f8f8; 
--amber_A200_87:#ffca4187; 
--amber_A200:#ffca41; 
--gray_50:#f5f8fc; 
--black_900:#000000; 
--black_900_26:#040b1426; 
--gray_303:#dbe1e9; 
--gray_301:#dce1e9; 
--white_A700_6c:#ffffff6c; 
--indigo_900_6c:#1b37646c; 
--black_900_0a:#040b140a; 
--gray_400:#c4c4c4; 
--gray_500:#969aa0; 
--gray_302:#dbe0e8; 
--lime_700:#d0a128; 
--indigo_50:#dee9f7; 
--indigo_900_a2:#1b3764a2; 
--indigo_51:#e8ecf2; 
--bluegray_100:#d0d0d0; 
--gray_200:#e7e7e7; 
--gray_300:#dce1e8; 
--gray_100:#f3f3f3; 
--white_A700_87:#ffffff87; 
--bluegray_900:#333333; 
--indigo_100:#b3c7e6; 
--indigo_101:#b4c7e7; 
--indigo_900:#1b3764; 
--black_900_19:#040b1419; 
--black_900_14:#040b1414; 
--white_A700:#ffffff; 
}